# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# Executables
*.exe
*.out
*.app

/.vs/ConanTest/v15/.suo
/.vs/ConanTest/v15/Browse.VC.db
/.vs/ConanTest/v15/Browse.VC.opendb
/.vs/ConanTest/v15/ipch/20152cf59242364.ipch
/.vs/ConanTest/v15/ipch/935e91b47d955b73.ipch
/.vs/ConanTest/v15/ipch/AutoPCH/2a4273fb7ad5d1ab/CONANTEST.ipch
/.vs/ConanTest/v15/ipch/f1aebd21ac8d5d09.ipch
/ConanTest.vcxproj
/ConanTest.vcxproj.filters
/ConanTest.vcxproj.user
/x64/Release/ConanTest.iobj
/x64/Release/ConanTest.ipdb
/x64/Release/ConanTest.log
/x64/Release/ConanTest.pdb
/x64/Release/ConanTest.tlog/CL.command.1.tlog
/x64/Release/ConanTest.tlog/CL.read.1.tlog
/x64/Release/ConanTest.tlog/CL.write.1.tlog
/x64/Release/ConanTest.tlog/ConanTest.lastbuildstate
/x64/Release/ConanTest.tlog/ConanTest.write.1u.tlog
/x64/Release/ConanTest.tlog/link.command.1.tlog
/x64/Release/ConanTest.tlog/link.read.1.tlog
/x64/Release/ConanTest.tlog/link.write.1.tlog
/x64/Release/vc141.pdb
/x64/Release/ConanTest.exp
